

/* Tablet */
  @media only screen and (min-width : 769px) and (max-width : 1023px) {
img {
	max-width: 100%;
	height: auto;
}
#logo {
	padding-top: 20px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 25px;
}
#logo .app-icon-1 {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  font-size: 50px;
}
#logo .app-icon-1 p {
  text-align: center;
}
.app-icon-1 {
  background: #2ecc71;
  border: 1px solid #29b765;
  text-shadow: 0px 0px 0 #25a25a,1px 1px 0 #25a25a,2px 2px 0 #25a25a,3px 3px 0 #25a25a,4px 4px 0 #25a25a,5px 5px 0 #25a25a,6px 6px 0 #25a25a,7px 7px 0 #25a25a,8px 8px 0 #25a25a,9px 9px 0 #25a25a,10px 10px 0 #25a25a,11px 11px 0 #25a25a,12px 12px 0 #25a25a,13px 13px 0 #25a25a,14px 14px 0 #25a25a,15px 15px 0 #25a25a,16px 16px 0 #25a25a,17px 17px 0 #25a25a,18px 18px 0 #25a25a,19px 19px 0 #25a25a,20px 20px 0 #25a25a,21px 21px 0 #25a25a,22px 22px 0 #25a25a,23px 23px 0 #25a25a,24px 24px 0 #25a25a,25px 25px 0 #25a25a,26px 26px 0 #25a25a,27px 27px 0 #25a25a,28px 28px 0 #25a25a,29px 29px 0 #25a25a,30px 30px 0 #25a25a,31px 31px 0 #25a25a,32px 32px 0 #25a25a,33px 33px 0 #25a25a,35px 35px 0 rgba(0, 0, 0, 0),37px 37px 0 #25a25a,39px 39px 0 #25a25a,42px 42px 0 #25a25a,45px 45px 0 #25a25a;
font-family: 'Open sans' sans-serif;
font-weight: 800;
font-size: 50px;
letter-spacing: -4px;
border-radius: 5px;
color: #FAFAFA;
}
div {
  overflow: hidden;
}
#nav {
	width:100%;
	margin: 0 0 15px 0;
	text-align: left;
}
#nav a {
    color: #484848;
}

#nav a:hover {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    color: #F6F6EF;
}
.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: auto;
	padding:0;
}

.navigation li{
	float: left;
	width:20%;
}

.navigation a{
	float: left;
	width:20%;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:140px 0;
}

#slide1 h1 {
	font-size: 4.725em;
	margin: 0 0 1em 0;
	padding-top: 110px;
	line-height: 1em;
}
#slide1 h2 {
		margin: -1em 0 1em 0;
		font-size: 2.325em;
		letter-spacing: 1px;
	line-height: 1em;
}
#slide2 a:link, a:visited {
	color: #25A25A;
	opacity: 0.8;
	font-weight:400;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide2 p {
	font-size: 1.188em;
	padding-bottom: 2em;
}
#slide2 .me {
	margin-bottom: -10px;
}
#slide3 h1 {
	line-height: 0em;
}
#slide3 h2 {
	line-height: 1.2em;
}
#services h1 {
	line-height: 2em;
}
#info {
	text-align: center;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}
#gallery {
	overflow: hidden;
	margin-bottom: 30px;
}
#gallery li {
margin: 0 auto;
width: auto;
padding-left: 23%;
padding-right: auto;
	position: relative;
}



#gallery li:nth-child(2n) {
	margin-right: 0;
}

#gallery li img {
	border-radius: 5px;
max-width:100%;
height:auto;
	margin: 0 auto;
		padding: 0;
}
#slide5 h2 {
	font-size: 1.25em;
	line-height: 1em;
}

}

/* Mobile */
@media screen and (max-width: 768px) {

img {
		max-width:100%;
height:auto;
}
#logo {
	padding-top: 10px;
	width: 100%;
	margin: 0 auto;
}
#logo .app-icon-1 {
	margin: 0 auto;
	height: 100px;
	width: 100px;
	font-size: 50px;
}
#logo .app-icon-1 p {
	text-align: center;
}

#nav {
	width:100%;
	margin: 20px 0;
}

#nav a {
    color: #484848;
}

#nav a:hover {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    color: #F6F6EF;
}
.navigation{
	width: 100%;
	float: none;
	list-style: none;
}

.navigation li{
	float: left;
	padding: 0;
	width:20%;
}

.navigation a{
	float: left;
	padding: 0;
	width:20%;
}
.opl a {
	display: none;
}
.crn a {
	display: none;
}
.csswinner {
	display: none;
}
.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

#slide1 h1 {
	line-height: 1em;
	font-size: 3.836em;
	padding-top: 120px;
}
#slide1 h2 {
	font-size: 1.325em;
	line-height: 1.25em;
	font-weight: 300;
	margin: 10px 0 20px 0;
}
.btn {
	width: 35%;
	margin: 20px 10px;
}
.btn-wg {
	padding: 10px 20px 10px 20px;
}

#slide1 h4 {
	line-height: 1em;
	font-size: 0.875em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	margin: 1em 0 0.5em 0;
	font-size: 1.5em;
	line-height: 1em;
}
#slide2 h4 {
	margin-bottom: 15px;
	font-size: 1.025em;
	line-height: 1em;
}
#slide2 p {
	font-size: 1em;
}
#canvas {
	height: 100%;
	height: 100%;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	margin: 1em 0 0.5em 0;
	font-size: 1.5em;
	line-height: 1em;
}
#slide3 h4 {
	margin-bottom: 15px;
	font-size: 1.025em;
	line-height: 1em;
}
#slide3 p {
	font-size: 1em;
}
#info span {
	font-size: 0.875em;
	line-height: 1em;
}
#info p .title {
	font-size: 0.75em;
	line-height: 1em;
}
#services h1 {
	font-size: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}
#gallery {
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;
}

#gallery li {
/*padding: 1em 0 1em 0;*/
width: 70%;
float: none;
padding: 1em;
margin: 0 auto;
position: relative;
}

#gallery li:nth-child(2n) {
width: 70%;
float: none;
padding: 1em;
margin: 0 auto;
position: relative;
}

/*#gallery li:nth-child(2n) {
	margin-right: 0;
}*/

#gallery li img {
	border-radius: 5px;
max-width:100%;
height:auto;
	margin: 0 auto;
		padding: 0;
}
#slide5 h1 {
	font-size: 2.75em;
	line-height: 1em;
}
#slide5 h2 {
	margin-bottom: 15px;
	font-size: 1em;
	line-height: 1em;
}
#slide5 h4 {
	margin-bottom: 15px;
	font-size: 1em;
	line-height: 1em;
}
#slide5 h5 {
	margin-bottom: 35px;
	font-size: 1em;
	line-height: 1em;
}
#slide5 p {
	font-size: 0.836em;
	line-height: 1em;
}
#slide5 p a {
	font-size: 1em;
	font-weight: 400;
	line-height: 1em;
}
.social {
	font-size: 0.836em;
	line-height: 1em;
	padding: 10px;
}

.app-icon-1 {
  background: #2ecc71;
  border: 1px solid #29b765;
  text-shadow: 0px 0px 0 #25a25a,1px 1px 0 #25a25a,2px 2px 0 #25a25a,3px 3px 0 #25a25a,4px 4px 0 #25a25a,5px 5px 0 #25a25a,6px 6px 0 #25a25a,7px 7px 0 #25a25a,8px 8px 0 #25a25a,9px 9px 0 #25a25a,10px 10px 0 #25a25a,11px 11px 0 #25a25a,12px 12px 0 #25a25a,13px 13px 0 #25a25a,14px 14px 0 #25a25a,15px 15px 0 #25a25a,16px 16px 0 #25a25a,17px 17px 0 #25a25a,18px 18px 0 #25a25a,19px 19px 0 #25a25a,20px 20px 0 #25a25a,21px 21px 0 #25a25a,22px 22px 0 #25a25a,23px 23px 0 #25a25a,24px 24px 0 #25a25a,25px 25px 0 #25a25a,26px 26px 0 #25a25a,27px 27px 0 #25a25a,28px 28px 0 #25a25a,29px 29px 0 #25a25a,30px 30px 0 #25a25a,31px 31px 0 #25a25a,32px 32px 0 #25a25a,33px 33px 0 #25a25a,35px 35px 0 rgba(0, 0, 0, 0),37px 37px 0 #25a25a,39px 39px 0 #25a25a,42px 42px 0 #25a25a,45px 45px 0 #25a25a;
font-family: 'Open sans' sans-serif;
font-weight: 800;
font-size: 50px;
letter-spacing: -4px;
border-radius: 5px;
color: #FAFAFA;
}
div {
  overflow: hidden;
}
}
/* Mobile */
@media screen and (max-width: 768px) {

img {
		max-width:100%;
height:auto;
}
#logo {
	padding-top: 10px;
	width: 100%;
	margin: 0 auto;
}
#logo .app-icon-1 {
	margin: 0 auto;
	height: 100px;
	width: 100px;
	font-size: 50px;
}
#logo .app-icon-1 p {
	text-align: center;
}

#nav {
	width:100%;
	margin: 20px 0;
}

#nav a {
    color: #484848;
}

#nav a:hover {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    color: #F6F6EF;
}
.navigation{
	width: 100%;
	float: none;
	list-style: none;
}

.navigation li{
	float: left;
	padding: 0;
	width:20%;
}

.navigation a{
	float: left;
	padding: 0;
	width:20%;
}
#slide1 h1 {
	line-height: 1em;
	font-size: 3.25em;
	padding-top: 120px;
}
div {
  overflow: hidden;
}
}