extends layout

block content

  body.sub.about
  .pushwrapper
        .border
        nav(role='navigation')
          .wrapper
            ul#nav
              li
                a(href='/') Home
              li.active
                a(href='/about/') Services
              li
                a(href='/experiments/') Projects
              li
                a(href='/blog/') Blog
              li
                a(href='mailto:me@viljamis.com') Email
        header(role='banner')
          .figure
            a(href='http://viljamis.com/', tabindex='-1')
              img(src='/img/logo.png', alt='Viljami Salminen')
              
              
        #main(role='main')
          .wrapper
            h1 Services.
            h2
              | I am a Web Designer and Developer from Finland who works with the wonderful people at Kisko Labs. I have been designing web sites for over a decade.
            section
              p
                span.dropcap M
                | y name is Viljami Salminen and I specialise in responsive web design, development and web typography. I have worked for clients such as Elisa, Metso Corporation, Save the children, Iltasanomat, The Family Federation of Finland, Tehy ry, and Hopeinen Norsu just to name a few.
              p
                | In everything I do, I am constantly inspired by the artworks of 60s and 70s jazz vinyls. Especially the records that
                a(href='http://en.wikipedia.org/wiki/Blue_Note_Records', rel='external') Blue Note Records
                | released during that time are close to my heart. I love their simple, but rich typography heavy look (and the music). That's also one of the reasons why I've been collecting 7" and 12" vinyls for a long time.
            section.last
              p
                | My site - the one you are browsing right now - is responsive, which means that it adapts to the size of your device's viewport.  It uses the so called
                a(href='http://www.lukew.com/ff/entry.asp?933', rel='external') Mobile First
                | technique and progressive enhancement to focus on the content. Currently it adapts to screen resolutions ranging between 230-2000 pixels. Content is also semantically identified with WAI-ARIA landmark roles and microdata properties.
              p
                | The body typeface of this site is
                a(href='http://www.paratype.com/public/', rel='external') PT Sans
                | by Alexandra Korolkova, Olga Umpeleva and Vladimir Yefimov and
                a(href='http://dharmatype.com/flat-it/mocha-mattari.html', rel='external') Mocha Mattari
                | by Ryoichi Tsunekawa is used for the main headings. Sub headings use
                a(href='http://www.canadatype.com/showfont.php?id=71', rel='external') Trump Gothic East
                | by Stanislav Marso.
        .push
        
        
      footer(role='contentinfo')
        .wrapper
          p
            | &#169; 2012 Viljami Salminen. All rights reserved.
            br
            | Handcrafted in rainy and foggy 
            a(href='http://maps.google.com/maps?q=helsinki,finland&hl=en&sll=37.0625,-95.677068&sspn=58.988897,65.478516&vpsrc=0&hnear=Helsinki,+Finland&t=k&z=12', title='View Helsinki on Google Maps', rel='external') Helsinki
            | .
          a.dribbble(href='http://dribbble.com/viljamis', title='Dribbble', rel='external me') Dribbble
          a.twitter(href='http://twitter.com/viljamis', title='Twitter', rel='external me') Twitter

     
    != js('main') 