body.sub.error
.pushwrapper
      .border
      nav(role='navigation')
        .wrapper
          ul#nav
            li
              a(href='http://viljamis.com/') Home
            li
              a(href='http://viljamis.com/about/') About
            li
              a(href='http://viljamis.com/projects/') Projects
            li
              a(href='http://viljamis.com/blog/') Blog
            li
              a(href='mailto:me@viljamis.com') Email
      header(role='banner')
        .figure
          a(href='http://viljamis.com/', tabindex='-1')
            img(src='http://viljamis.com/img/logo.png', alt='Viljami Salminen')
      #main(role='main')
        .wrapper
          h1 404 Error,
          h2 The page you’ve requested cannot be found.
          img(src='http://viljamis.com/img/thankyou.png', alt='')
      .push
    footer(role='contentinfo')
      .wrapper
        p
          | © 2012 Viljami Salminen. All rights reserved.
          br
          | Handcrafted in rainy and foggy
          a(href='http://maps.google.com/maps?q=helsinki,finland&hl=en&sll=37.0625,-95.677068&sspn=58.988897,65.478516&vpsrc=0&hnear=Helsinki,+Finland&t=k&z=12', title='View Helsinki on Google Maps', rel='external') Helsinki
          | .
        a.dribbble(href='http://dribbble.com/viljamis', title='Dribbble', rel='external me') Dribbble
        a.twitter(href='http://twitter.com/viljamis', title='Twitter', rel='external me') Twitter
