<!doctype html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<title>I am younes benaomar. I do stuff. you probably don't care.</title>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"></meta>
	<meta http-equiv="cache-control" content="no-cache">
	<meta name="robots" content="index, follow"></meta>
	<meta name="distribution" content="global"></meta>
	<meta name="description" content="Younes BENAOMAR. Developper."></meta>
	<meta name="keywords" content="personal,graphic design, photography, younes benaomar"></meta>
	
	<link rel="stylesheet" media="screen" type="text/css" href="stylesheets/styles.css" />
	

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33129420-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>


<body>


<canvas id="canvas"></canvas>
  

  
  <div class="box left">
  	<h2><b>HI</b> THERE</h2>
  	<div>
    I’m <strong>Younes BENAOMAR</strong>, a user experience developer currently in Toulouse France.<br/> I occasionally snap <a href="http://www.flickr.com/photos/younes">photos</a>,
   <a href="http://twitter.com/younesbenaomar" rel="me">tweet</a>
    my going-ons, share <a href="https://github.com/interactiveobject" rel="me">tech codes</a>
    and post to my&nbsp;<a href="http://tumblr.interactive-object.com/" rel="me">scrapbook</a>.
    </div>
  </div>
  



<div id="menu">    
  	<a href="#">CLEAR</a>
</div>








<div id="cursor_container">
<div id="cursor" class="cursor"></div>
</div>


<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/underscore.js"></script>
<script type="text/javascript" src="/javascripts/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.event.drag-2.2.js"></script>
<script type="text/javascript" src="/javascripts/jquery.event.drag.live-2.2.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>




</body>
</html>
