<!doctype html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<title>I do stuff. You probably don't care.</title>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"></meta>
	<meta http-equiv="cache-control" content="no-cache">
	<meta name="robots" content="index, follow"></meta>
	<meta name="distribution" content="global"></meta>
	<meta name="description" content="Younes BENOMAR. Developper."></meta>
	<meta name="keywords" content="personal,graphic design, photography, younes benaomar"></meta>
	
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0" />
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
    
	<link rel="stylesheet" media="screen" type="text/css" href="/stylesheets/main.css" />
		
  
  <script type="text/javascript" src="/javascripts/modernizr.custom.61709.js"></script>
  
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33129420-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>


<body>


     <div id="wrap"></div>
    
    <ul>
        <li>
            <div id="home">
            </div>
        </li>
        <li>
            <div id="about" class="about box">
              <div>
                
               	<h1>I design and develop interactive things.</h1>
                
                <span>
                  I love writing and thinking in code and i deeply appreciate all top of the edge, kick ass, interactive stuff.<br/>
                  I like modern graphic design, photography and electronic music. <br/> 
				  I love programming and experimenting with new technologies, you will find in Lab section all experimental web app focusing on real time interaction. 
					<br/>
					<br/>
				<a href="javascript:void(0)" data-sequence="contact">Get in Touch &rarr;</a>
				</span>
        
              </div>
              
            </div>
        </li>
        
        
         <li>
            <div id="contact" class="contact box">
              <div>
                
               	<h1>Get in touch!</h1>
                
                <span>

                <form id="contact-box">
					Don't be shy, drop me a line!
                  <textarea type="text" name="message" placeholder=""></textarea>
                  <input type="submit" name="submit" value="Send"/>
                  </form>
                </span>

              </div>
              
            </div>
        </li>
        
    </ul>
    
   

<div id="menu">
    
    <div id="logo">
      <span>Interactive Object<span>
    </div>

  <div style="float: left; height: 100%; width: 5px; background-color: #549584;"></div>
  <div style="float: left; height: 100%; width: 5px; background-color: #1BE86E; "></div>
  <div style="float: left; height: 100%; width: 5px; background-color: #A3FB66; "></div>  
  
  <div class="nav">
    <ul>
        <li><a href="javascript:void(0)" data-sequence="about">About</a></li>
        <li><a href="javascript:void(0)" data-sequence="contact">Get in Touch</a></li>
        <li><a href="javascript:void(0)" data-sequence="about" class="selected">Lab</a></li>
    </ul>
    <ul id="labnav">
	  </ul>
  </div>
    
  <div id="share">
    <ul>
        <li><a class="fb" href="https://www.facebook.com/sharer.php?u=http://www.interactive-object.com/" target="_blank" title="Facebook"></a></li>
  		<li><a class="tt" href="https://twitter.com/intent/tweet?text=http://www.interactive-object.com" target="_blank" title="Twitter"></a></li>
        <li><a class="flickr" href="http://www.flickr.com/photos/younes/" target="_blank" title="Flickr"></a></li>
        <li><a class="tumblr" href="http://tumblr.interactive-object.com" target="_blank" title="Tumblr"></a></li>
    </ul>
  </div>
  
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
<script type="text/javascript" src="/javascripts/script.js"></script>


</body>
</html>
