<!doctype html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<title>i am younes benaoamr. i do stuff. you probably don't care.</title>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"></meta>
	<meta http-equiv="cache-control" content="no-cache">
	<meta name="robots" content="index, follow"></meta>
	<meta name="distribution" content="global"></meta>
	<meta name="description" content="Younes BENAOMAR. Developper."></meta>
	<meta name="keywords" content="personal,graphic design, photography, younes benaomar"></meta>

	<script type="text/javascript" src="http://use.typekit.com/lig5gii.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>


	
	<link rel="stylesheet" media="screen" type="text/css" href="stylesheets/styles.css" />
	


</head>


<body>


<div id="main">
	<div id="text">
		<h1>paul armstrong is ...</h1><div id="refresh"><a href="javascript:location.reload(true)" title="Refresh for a new image">&nbsp;</a></div>
		<h2>a <a href="http://wiseacredesign.com" target="_blank" title="Visit where I work">designer</a>. a <a href="http://wiseacrephoto.com" target="_blank" title="Visit my photo work">photographer</a>. a wiseacre. a <a href="http://www.imdb.com/name/nm3013322/" target="_blank" title="Visit my IMDB page - no sersiously, I have an IMDB page">film writer</a>. a husband. a father. imbiber of <a href="http://www.flickr.com/photos/wiseacre/sets/72157625660997769/detail/" target="_blank" title="I can quit anytime. But I don't want to">fine scotch whiskey</a> <em>(or even not so fine)</em>. an avid fingernail chewer. a self-imposed bacon aficionado. a former child-star of a made-up television series from 1977 - 1981. a deflowered <a href="http://en.wikipedia.org/wiki/Five_points_of_Calvinism#Five_points_of_Calvinism" target="_blank" title="This will not make sense to most you, and that's ok.">t.u.l.i.p.</a>. some time facial hair <a href="http://whiskerino.org/" target="_blank" title="I have taken part in 3 Whiskerino beard growing contests">explorer</a>. always looking for something new.</h2>
	</div>	
	
	<br />
</div>


<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/underscore.js"></script>
<script type="text/javascript" src="/javascripts/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/jquery.backstretch.min.js"></script>

<script>
  
  
  $(document).ready(function() {
	
		

       
       $.backstretch("images/bg.jpg", {speed: 150});
       initialize();
              				
});


  
  function initialize()
  {
  
  
    var users =[];
    var map;
        
    // sockets
    var socket = io.connect('http://');
    
    socket.on('user-connected', function (data) {
      console.log("user connected :",data.id);
      
      data.marker = new google.maps.Marker({title:"user"+data.id});
      data.marker.setMap(map);
      data.latLng = null; // not defined yet
      users[data.id] = data;
    });
    
    socket.on('users-connected', function(data){
      
      for (i=0;i<data.length;i++){
        var current = data[i]
        marker = new google.maps.Marker({title:"user"+current.id});
        marker.setMap(map);
        if(current.coords){
          latLng = new google.maps.LatLng(current.coords.latitude,current.coords.longitude)
          marker.setPosition( latLng);
        }
        current.latLng = latLng;
        current.marker = marker;
        users[current.id] = current;
      }
      //centerMap();
    });
    
    socket.on('user-disconnected', function (data) {
      console.log("user disconnected :",data);
      var user = users[data.id]
      user.marker.setMap(null);
      delete users[user.id];
    });
    
     socket.on('receive-message', function (data) {
        console.log("receive message :",data);
     });
     
   
     // register to server
    socket.emit("new-user", {id:  Math.round(Math.random() * 10000)});
   
    
  
  
  }
  
  
</script>


	

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXXXXXX']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
