<!doctype html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<title>I do stuff. You probably don't care.</title>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"></meta>
	<meta http-equiv="cache-control" content="no-cache">
	<meta name="robots" content="index, follow"></meta>
	<meta name="distribution" content="global"></meta>
	<meta name="description" content="Younes BENAOMAR. Developper."></meta>
	<meta name="keywords" content="personal,graphic design, photography, younes benaomar"></meta>
	
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0" />
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
    
	<link rel="stylesheet" media="screen" type="text/css" href="stylesheets/styles.css" />
		
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css' />
  <script type="text/javascript" src="http://use.typekit.com/jmp4lkh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <script type="text/javascript" src="/javascripts/modernizr.custom.61709.js"></script>
  
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33129420-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>


<body>


     <div id="wrap"></div>
    
    <ul>
        <li>
            <div id="home">
            </div>
        </li>
        <li>
            <div id="about" class="about box">
               	<span class="contain">I design and develop interactive things.</span>
                <span class="contain small">I love writing and thinking in code and i deeply appreciate all top of the edge, kick ass, interactive stuff.</span>
                <span class="contain tiny">I like modern graphic design, typography and grids, electronic music, i love programming and experimenting with new technologies.</span>
            </div>
        </li>
    </ul>
    
   

<div id="menu">
  <div class="nav">
    <ul>
				<li><a href="javascript:void(0)" data-sequence="home">Home</a></li>
        <li><a href="javascript:void(0)" data-sequence="about">About</a></li>
    </ul>
    <ul>
        <li><a href="/lab/streetart/" target="viewer">Street Art</a></li>
        <li><a href="/lab/beatbox/" target="viewer">sound</a></li>
        <li><a href="/lab/webcamraster/"target="viewer">webcam raster</a></li>
        <li><a href="http://afternoon-moon-6385.herokuapp.com/" target="viewer">Shared Map</a></li>
			</ul>
  </div>
    
  <div id="share">
    <ul>
  			
        <li><a class="flickr" href="https://twitter.com/intent/tweet?text=http://www.interactive-object.com" target="_blank"></a></li>
        <li><a class="tumblr" href="https://twitter.com/intent/tweet?text=http://www.interactive-object.com" target="_blank"></a></li>
        <li><a class="fb" href="https://www.facebook.com/sharer.php?u=http://www.interactive-object.com/" target="_blank" style="opacity: 1; "></a></li>
  			<li><a class="tt" href="https://twitter.com/intent/tweet?text=http://www.interactive-object.com" target="_blank"></a></li>
        </ul>
  </div>
  
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
<script type="text/javascript" src="/javascripts/sequence.jquery-min.js"></script>
<script type="text/javascript">

init();
var sequence;

var sequenceOptions = {
		autoPlay : false,
		nextButton : true,
		prevButton : true,
		animateStartingFrameIn : true,
		transitionThreshold : 250,
		keyNavigation: false,
		swipeNavigation : false
	}
	

  var mainHiden;
  
  
function init(){
  
  	
      console.log("init");
      
        //sequence = $("#sequence").sequence(sequenceOptions).data("sequence");
        //sequence.init.preloader();
        
        window.addEventListener( 'resize', onResize, false );
        
				viewer = document.createElement( 'iframe' );
        //viewer = document.getElementById("viewer");        
				viewer.name = 'viewer';
        viewer.id = 'viewer';
				viewer.setAttribute( 'allowfullscreen', 'allowfullscreen' );
        viewer.setAttribute( 'allowtransparency', 'yes' );
        viewer.setAttribute( 'scrolling', 'no' );
				viewer.src = "/lab/streetart/";
				document.body.appendChild( viewer );
        
        viewer.onload= function() {
          console.log("loaded")
            mainHiden = true;
        };
    
         
       
        onResize();
        
        
}


var current_sequence;
var wrap;

$('a[data-sequence]').click(function (e) {
		var sequenceid = $(e.target).data("sequence");

    if(current_sequence)
    {
      $("#"+current_sequence).removeClass("animate-in").addClass("animate-out");
     
    }else {
      $("#wrap").addClass("full-wrap");
      $("#wrap").click(function(){
        $("#wrap").removeClass("full-wrap");
        $("#"+current_sequence).removeClass("animate-in").addClass("animate-out");
        current_sequence = null
        
      });
    }
    
    
    current_sequence = sequenceid
    $("#"+sequenceid).removeClass("animate-out").addClass("animate-in");
    
  
     
     
});

  
function onResize( event ) {

				viewer.style.width = window.innerWidth + 'px';
				viewer.style.height = ( window.innerHeight) + 'px';

			}
        
</script>



</body>
</html>
