<!doctype html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<title>I am younes benaomar. I do stuff. you probably don't care.</title>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"></meta>
	<meta http-equiv="cache-control" content="no-cache">
	<meta name="robots" content="index, follow"></meta>
	<meta name="distribution" content="global"></meta>
	<meta name="description" content="Younes BENAOMAR. Developper."></meta>
	<meta name="keywords" content="personal,graphic design, photography, younes benaomar"></meta>
	
	<link rel="stylesheet" media="screen" type="text/css" href="stylesheets/styles.css" />
	

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33129420-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>


<body>


  <canvas id="canvas"></canvas>
  
<div id="main">
	<div id="text">
		<h1>Hello </h1>

		  <h2>I’m <strong>Younes BENAOMAR</strong>, a user experience developer currently in Toulouse France.<br/> I occasionally snap <a href="http://www.flickr.com/photos/younes">photos</a>,
		 <a href="http://twitter.com/interactobject" rel="me">tweet</a>
      my going-ons, share <a href="https://github.com/interactiveobject" rel="me">tech codes</a>
      and post to my&nbsp;<a href="http://thumblr.interactive-object.com/" rel="me">scrapbook</a>.
	  </h2>
	  <h1>Experiments</h1>
	  <h2>
		<ul>
			<li>Realtime Map geolocatization : <a href="http://afternoon-moon-6385.herokuapp.com/" rel="me" target="_blank">link</a>.</li>
		</ul>

		
		</h2>
	</div>	
	
	<br />
</div>



<div id="cursor_container">
<div id="cursor" class="cursor"><div class="label"></div></div>
</div>


<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/underscore.js"></script>
<script type="text/javascript" src="/javascripts/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/jquery.backstretch.min.js"></script>

<script>
  
  
  function jsonFlickrApi(data){
    if (data.stat != "ok"){

      // something broke!
      return;
    }
    var photo = data.photoset.photo[Math.floor(Math.random()*data.photoset.photo.length)];
    var url = "http://farm"+photo.farm+".static.flickr.com/"+photo.server+"/"+photo.id+"_"+photo.secret+"_b_d.jpg"
    
    $.backstretch(url, {speed: 150});
  }
  

  
  
  $(document).ready(function() {	
  
  
    // flicker
    
    initialize();


    var lastPoints = [];
    var easing = 0.4;
    
     
  
    var canvas = document.getElementById("canvas");
    var context = canvas.getContext('2d');

    // resize the canvas to fill browser window dynamically
    window.addEventListener('resize', resizeCanvas, false);

    if (context) {
      context.fillStyle = "solid";
      context.strokeStyle = "#ECD018";
      context.lineWidth = 5;
      context.lineCap = "round";
      //context.fillStyle = "rgba(0, 0, 200, 0.5)";
      
      canvas.onmousedown = startDraw;
      canvas.onmouseup = stopDraw;
      canvas.ontouchstart = startDraw;
      canvas.ontouchstop = stopDraw;
      canvas.ontouchmove = drawMouse;
      		
    }
  
  
    function startDraw(e) {
    	if (e.touches) {
    		// Touch event
    		for (var i = 1; i <= e.touches.length; i++) {
    			lastPoints[i] = getCoords(e.touches[i - 1]); // Get info for finger #1
    		}
    	}
    	else {
    		// Mouse event
    		console.log( getCoords(e));
    		lastPoints[0] = getCoords(e);
    		canvas.onmousemove = drawMouse;
    	}

    	return false;
    }

    // Called whenever cursor position changes after drawing has started
    function stopDraw(e) {
    	e.preventDefault();
    	canvas.onmousemove = null;
    }

    function drawMouse(e) {
    	if (e.touches) {
    		// Touch Enabled
    		for (var i = 1; i <= e.touches.length; i++) {
    			var p = getCoords(e.touches[i - 1]); // Get info for finger i
    			lastPoints[i] = drawLine(lastPoints[i].x, lastPoints[i].y, p.x, p.y);
    		}
    	}
    	else {
    		// Not touch enabled
    		var p = getCoords(e);
    		lastPoints[0] = drawLine(lastPoints[0].x, lastPoints[0].y, p.x, p.y);
    	}
    	context.stroke();
    	context.closePath();
    	context.beginPath();

    	return false;
    }

    // Draw a line on the canvas from (s)tart to (e)nd
    function drawLine(sX, sY, eX, eY) {
    	context.moveTo(sX, sY);
    	context.lineTo(eX, eY);
    	return { x: eX, y: eY };
    }

    // Get the coordinates for a mouse or touch event
    function getCoords(e) {
    	if (e.offsetX) {
    		return { x: e.offsetX, y: e.offsetY };
    	}
    	else if (e.layerX) {
    		return { x: e.layerX, y: e.layerY };
    	}
    	else {
    		return { x: e.pageX - canvas.offsetLeft, y: e.pageY - canvas.offsetTop };
    	}
    }
    
    
    
    
    function resizeCanvas() {
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;

            /**
             * Your drawings need to be inside this function otherwise they will be reset when 
             * you resize the browser window and the canvas goes will be cleared.
             */
            drawStuff(); 
    }
   

    function drawStuff() {
            // do your drawing stuff here
    }
    

       resizeCanvas();
     
    

});


  
  function initialize()
  {
  
   var users =[];
      
      // sockets
      var socket = io.connect('http://');
      
      socket.on('user-connected', function (data) {
        console.log("user connected :",data.id);
        users[data.id] = data;
        $('#cursor').clone().appendTo('#cursor_container').attr('id',"cursor-"+data.id);
      });
      
      socket.on('users-connected', function(data){
        
        for (i=0;i<data.length;i++){
          var current = data[i];
          
          $('#cursor').clone().appendTo('#cursor_container').attr('id',"cursor-"+current.id);
          
          if(current.cursor) setCursor(current.id, current.cursor.x, current.cursor.y);
          //create cursor here
          users[current.id] = current;
        }

      });
      
      socket.on('user-disconnected', function (data) {
        console.log("user disconnected :",data);
        var user = users[data.id]
        if(user){
        
          // delete cursor here
          $("#cursor-"+data.id).remove();
          delete users[user.id];
        }
      });
      
       socket.on('receive-mousemove', function (data) {
        setCursor(data.id, data.cursor.x, data.cursor.y);
       });
       
      // TODO register id in cookie
      socket.emit("new-user", {id:  Math.round(Math.random() * 10000)});
      
      
     $(document).bind('mousemove', function(e){
        socket.emit('mousemove', { x:  e.pageX/$(window).width()  , y:   e.pageY/$(window).height()  });
      });
      
    
      
   
  }
  
     
      
      function draw(x, y, type) {
        if (type === "dragstart") {
          context.beginPath();
          return context.moveTo(x, y);
        } else if (type === "drag") {
          context.lineTo(x, y);
          return context.stroke();
        } else {
          return context.closePath();
        }
      };
      
  
  function setCursor(id, x, y){
    var pageX = x * $(window).width();
    var pageY = y * $(window).height();
    $("#cursor-"+id).css({left:  pageX, top:   pageY });
  }
  
  
    
</script>

<script type="text/javascript" src="http://api.flickr.com/services/rest/?method=flickr.photosets.getPhotos&api_key=e606900de034115b34006a4dcf2c5766&user_id=58821970@N00&photoset_id=72157629696932450&format=json"></script>

</body>
</html>
