<!doctype html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<title>I do stuff. You probably don't care.</title>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"></meta>
	<meta http-equiv="cache-control" content="no-cache">
	<meta name="robots" content="index, follow"></meta>
	<meta name="distribution" content="global"></meta>
	<meta name="description" content="Younes BENAOMAR. Developper."></meta>
	<meta name="keywords" content="personal,graphic design, photography, younes benaomar"></meta>
	
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
	<link rel="stylesheet" media="screen" type="text/css" href="stylesheets/styles.css" />
		
  <link href="http://fonts.googleapis.com/css?family=Merriweather:400,700,300" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="http://use.typekit.com/jmp4lkh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <script type="text/javascript" src="/javascripts/modernizr.custom.61709.js"></script>
  
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33129420-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>


<body>

<canvas id="canvas"></canvas>
<canvas id="lcanvas"></canvas>




<div class="full-wrap">
  <div id="sequence">
    <ul>
        <li>
            <div class="home box animate-in">
                <span>Hello</span>
                
               	<p>Welcome to my experiences lab
                  <br/>
                  <a href="javascript:void(0)" data-sequence="2">More experiences.→</a>

                </p>
                
            </div>
        </li>
        <li>
            <div class="experiences box">
                <span >Experience </span>
                <p>
                  Multiuser pain
                  <a href="javascript:void(0)" data-sequence="3">get in touch.→</a>
                </p>
            </div>
        </li>
        <li>
            <div class="about box">
              
               <span>About</span>
                
               	<p >And I design and develop interactive things. Currently i live in Toulouse, France.<br/>
                  I love writing and thinking in code and i deeply appreciate all top of the edge, kick ass, interactive stuff.<br/>
                  I like modern graphic design, typography and grids, electronic music, i love programming and experimenting with new technologies.
                  <br/>
                  <a href="javascript:void(0)" data-sequence="1">Home.→</a>

                </p>

            </div>
        </li>
    </ul>
</div>



<div id="share" style="display: block; margin-right: 0px; ">
		<div>
			<a class="fb" href="https://www.facebook.com/sharer.php?u=http://www.interactive-object.com/" target="_blank" style="opacity: 1; "></a>
			<img class="line" src="/images/line_noir.png">
			<a class="fb" href="https://www.facebook.com/sharer.php?u=http://www.interactive-object.com/" target="_blank" style="opacity: 1; "></a>
			<img class="line" src="/images/line_noir.png">			
			<a class="tt" href="https://twitter.com/intent/tweet?text=http://www.interactive-object.com" target="_blank"></a>
		</div>
</div>
	
<div id="nav">
    
    <div id="menu">    
      <a href="javascript:void(0)" class="clear" alt="clear drawer"></a>
      <a href="javascript:void(0)" class="refresh" alt="change background"></a>
    </div>

				<div id="dots">
					<ul>
            <li><a href="javascript:;" style="background-color: rgb(244, 119, 35); " class="cur"></a></li>
            <li><a href="javascript:;" style="background-color: rgb(78, 74, 157); "></a></li>
            <li><a href="javascript:;" style="background-color: rgb(253, 215, 185); "></a></li>
            <li><a href="javascript:;" style="background-color: rgb(54, 177, 197); "></a></li>
            <li><a href="javascript:;" style="background-color: rgb(253, 189, 23); " ></a></li>
            <li><a href="javascript:;" style="background-color: rgb(232, 70, 19); "></a></li>
            <li><a href="javascript:;" style="background-color: rgb(168, 104, 57); "></a></li>
            <li><a href="javascript:;" style="background-color: rgb(165, 194, 110); "></a></li>
            <li><a href="javascript:;" style="background-color: rgb(255, 225, 1); "></a></li>
            <li><a href="javascript:;" style="background-color: rgb(2, 30, 47); "></a></li>
            <li><a href="javascript:;" style="background-color: rgb(29, 61, 29); "></a></li>
            <li><a href="javascript:;" style="background-color: rgb(249, 15, 73); "></a></li>
            <li><a href="javascript:;" style="background-color: rgb(34, 160, 223); "></a></li>
            <li><a href="javascript:;" style="background-color: rgb(199, 69, 101); "></a></li>
            </ul>
				</div>
			</div>
			
			

</div>





<div id="cursor_container">
<div id="cursor" class="cursor"></div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  
<script type="text/javascript" src="/javascripts/underscore.js"></script>
<script type="text/javascript" src="/javascripts/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/jquery.backstretch-min.js"></script>
<script type="text/javascript" src="/javascripts/sequence.jquery-min.js"></script>
<script type="text/javascript" src="/javascripts/helpers.js"></script>
<script type="text/javascript" src="/javascripts/brush.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>




</body>
</html>
