extends layout

block content

  body(itemscope='itemscope', itemtype='http://schema.org/Person')
  .border
      nav(role='navigation')
        .wrapper
          ul#nav
            li.active
              a(href='/') Home
            li
              a(href='/#/about') About
            li
              a(href='/#/projects') Projects
            li
              a(href='mailto:contact@interactive-object.com') Email
      header(role='banner')
        .figure
          a(href='http://interactive-object.com/', itemprop='url', tabindex='-1')
            img(src='/img/logo.png', alt='Interactive Object')
      #impress.impress-not-supported
        section#home.step
          .wrapper
            h1#heading
              | Design &
              br
              | development
          #swipe
            .wrapper
              h2
                | I believe that all content on the Web should be accessible to anyone using any kind of device to access the Internet.
                a.next(href='/#/about') 
                  | Read more
                  span ?            
        section#about.step(data-x="1600")
          .wrapper
            h1#heading About
        section#projects.step(data-x="1600", data-z="-102")
          .wrapper
            h1#heading Projects     
