/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
@charset "UTF-8";
@font-face {
  font-family: 'Lubalin-Demi';
  src: url('/fonts/lubalingraphstd-demi-webfont.eot?') format('eot'), url('/fonts/lubalingraphstd-demi-webfont.woff') format('woff'), url('/fonts/lubalingraphstd-demi-webfont.ttf') format('truetype'), url('/fonts/lubalingraphstd-demi-webfont.svg#webfontf0f7MCSm') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MelbourneBold';
  src: url('/fonts/melbourne_bold-webfont.eot?') format('eot'), url('/fonts/melbourne_bold-webfont.woff') format('woff'), url('/fonts/melbourne_bold-webfont.ttf') format('truetype'), url('/fonts/melbourne_bold-webfont.svg#webfontHAQk1XU8') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MelbourneRegular';
  src: url('/fonts/melbourne_regular_basic-webfont.eot');
  src: url('/fonts/melbourne_regular_basic-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/melbourne_regular_basic-webfont.woff') format('woff'), url('/fonts/melbourne_regular_basic-webfont.ttf') format('truetype'), url('/fonts/melbourne_regular_basic-webfont.svg#melbourneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LucidaGrandeRegular';
  src: url('/font/lucida_grande-webfont.eot');
  src: url('/font/lucida_grande-webfont.eot?iefix') format('eot'), url('/font/lucida_grande-webfont.woff') format('woff'), url('/font/lucida_grande-webfont.ttf') format('truetype'), url('/fontlucida_grande-webfont.svg#webfontZpF6mvFO') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
@base: #648C85;
@dark: #253639;
@light: #E9E1CF;
@hight: #BFA78A;
@low: #477075;




@base: #D94B2B;
@dark: #26110F;
@light: #8C3420;
@hight: #F2E6D8;
@low: #32838C;
*/
* {
  border: 0 none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  z-index: 100;
}
a:focus {
  outline: medium none;
}
a,
a:link,
a:visited {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
iframe {
  border: 0;
}
a {
  text-decoration: none;
}
body {
  background: url("/images/loading.gif") repeat scroll 0 0 transparent;
  cursor: default;
  font: 37px "MelbourneRegular", arial;
  font-size: 10px;
  color: black;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: white;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
}
li {
  list-style-type: none;
}
header {
  padding: 40px;
  width: 100%;
  position: absolute;
  top: 0px;
  font-weight: 100;
  min-width: 1024px;
}
.full-wrap {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(/images/pattern.png);
  overflow: hidden;
}
#logo {
  bottom: 80px;
  width: 150px;
  left: 20px;
  padding-left: 40px;
  padding-right: 20px;
  margin-top: 10px;
  float: left;
}
#logo span {
  font: 14px "MelbourneBold", arial;
  text-transform: uppercase;
  color: #daede2;
}
#menu {
  position: absolute;
  bottom: 0px;
  z-index: 800;
  width: 100%;
  height: 80px;
  line-height: 12px;
  background: #333745;
}
#menu .nav {
  height: 56px;
  padding: 10px 0 0 0px;
  float: left;
  left: 20px;
}
#menu .nav ul {
  float: left;
  width: 110px;
  position: relative;
  height: 100%;
}
#menu .nav li a {
  height: 12px;
  padding: 0 5px;
  font: 0.6em "MelbourneBold", arial;
  color: #daede2;
  display: block;
  text-transform: uppercase;
}
#menu .nav li a:hover {
  color: #77c4d3;
}
#menu .nav li a.selected {
  color: #77c4d3;
}
#share {
  overflow: hidden;
  float: right;
  position: absolute;
  top: 30%;
  right: 20px;
}
#share ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
#share ul li {
  display: inline;
}
#share ul li a {
  text-decoration: none;
  display: block;
  width: 32px;
  height: 32px;
  float: left;
  line-height: 32px;
  text-decoration: none;
  text-align: center;
  margin-left: 3px;
  margin-right: 3px;
}
#share ul li a.tumblr {
  background: url('/images/tumblr.png');
}
#share ul li a.flickr {
  background: url('/images/flickr.png');
}
#share ul li a.fb {
  background: url('/images/facebook.png');
}
#share ul li a.tt {
  background: url('/images/twitter.png');
}
#share ul li a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.6;
}
.box > div {
  display: block;
  padding: 20px;
  margin: 2px;
  float: left;
  background: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.box > div > h1 {
  font: 40px/40px "Lubalin-Demi", arial;
  color: #ea2e49;
  border-color: gray;
  border-style: solid;
  border-width: 0 0 1px;
  padding-bottom: 20px;
  text-transform: uppercase;
  float: left;
  width: 100%;
}
.box > div > span {
  text-transform: none;
  font: 1em "MelbourneRegular";
  color: #333745;
  float: left;
  margin-top: 20px;
  width: 100%;
}
.box > div > span a {
  background: none repeat scroll 0 0 #333745;
  color: white;
  height: 100%;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  text-transform: uppercase;
  font: 0.6em "MelbourneBold", arial;
  cursor: pointer;
}
.box > div > span a:hover {
  color: #77c4d3;
}
.box > div > p {
  margin-left: 15px;
  padding-left: 10px;
  border-style: solid;
  border-left: 1px solid gray;
  height: 110px;
  margin-top: 20px;
  float: left;
}
/**
 *  Experience
 */
.about {
  top: 150%;
  left: 10%;
  width: 50%;
  position: absolute;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
}
.about.animate-in {
  left: 10%;
  top: 30%;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
.about.animate-out {
  top: 200%;
  left: 10%;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
}
/**
 *  Experience
 */
.experiences {
  top: 10%;
}
.experiences.animate-in {
  left: 10%;
  top: 10%;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
.experiences.animate-out {
  top: -50%;
  left: 10%;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
}
/**
 *  contact
 */
.contact {
  left: 10%;
  top: 150%;
  position: absolute;
  width: 50%;
  font-family: "proxima-nova-1", "proxima-nova-2", sans-serif;
  font-weight: 100;
  font-style: normal;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
}
.contact.animate-in {
  left: 10%;
  top: 50%;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
.contact.animate-out {
  left: 10%;
  top: 150%;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
}
.contact #contact-box {
  width: 100%;
}
.contact #contact-box textarea {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid gray;
  width: 100%;
  resize: none;
  margin-top: 10px;
}
.contact #contact-box form {
  width: 100%;
}
.contact #contact-box input {
  background: none repeat scroll 0 0 #000000;
  color: white;
  height: 100%;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
  font: 0.6em "MelbourneBold", arial;
  cursor: pointer;
}
