* {
    margin: 0;
    outline: medium none;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    background: url("/images/loading.gif") repeat scroll 0 0 transparent;
    cursor: default;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}
#main {
    background-color: #FFFFFF;
    display: block;
    margin-left: 10%;
    margin-top: 10%;
    /*padding: 35px 30px 30px 50px;*/
    position: relative;
    width: 550px;
}
#text {
    display: block;
    position: relative;
    text-align: left;
    margin: 30px;
}
#main ul {
    margin-left: 1.5em;
    padding-left: 0;
}
#main li {
    margin-bottom: 0.5em;
}
#cursor {
    display: none;
}
.cursor {
    background-image: url("/images/cursor.png");
    height: 23px;
    opacity: 0.5;
    position: absolute;
    width: 16px;
}
.cursor b {
   font-family: "Century Gothic","Lucida Grande",Arial,sans-serif;
    font-size: 15px;
    font-weight: 100;
    padding: 10px 0px 0px 15px;
}
#canvas {
    cursor: pointer;
    display: block;
    left: 0;
    position: fixed;
    top: 0;
}
#canvas:active {
}
h1 {
    border-color: #EEEEEE;
    border-style: solid;
    border-width: 0 0 1px;
    color: #111111;
    display: block;
    font-family: "Century Gothic","Lucida Grande",Arial,sans-serif;
    font-size: 25px;
    font-weight: 100;
    line-height: 25px;

    padding: 30px 0px 30px 0px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}
h2 {
    color: #111111;
    display: block;
    font-family: "Century Gothic","Lucida Grande",Arial,sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 19px;
    padding: 30px;
}
h2 a {
    border-bottom: 1px solid #999999;
    color: #222222;
    text-decoration: none;
}
h2 a:hover {
    border-bottom: 1px solid #333333;
    color: #555555;
    text-decoration: none;
}