/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License:   none (public domain) */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
    height: 100%;
    width: 100%;
    cursor: pointer;
}
iframe {

				border: 0;

			}
      
body {
    background: url("/images/loading.gif") repeat scroll 0 0 transparent;
    cursor: default;
    font-family: "proxima-nova-1","proxima-nova-2", "Century Gothic","Lucida Grande",Arial,sans-serif;
    font-size: 10px;
    color: black;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;    
   
}

li {
      list-style-type: none;
}



#cursor {
    display: none;

}
.cursor {
    background-image: url("/images/cursor.png");
    height: 23px;
    position: absolute;
    width: 16px;
}
.cursor b {

   background-color:  rgba(256, 256, 256, 0.9);
    margin-left: 15px;
    padding: 2px;
}

canvas {
    cursor: pointer;
    display: block;
    left: 0;
    position: fixed;
    top: 0;
     -webkit-user-select: none;
}


canvas:active {
  cursor: pointer;
   -webkit-user-select: none;
}



#menu {
  position: absolute;
  bottom: 20px;
  overflow: hidden;
  z-index: 400;
  width: 40px;
  right: 0px;
}

#menu a {
  float: left;
  margin-left: 1px;
  text-size: 2em;
  overflow: hidden;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;  
  margin-left: 5px;
}

#menu a:hover {
  color: black;
  text-decoration: none;  
}

#menu a.refresh {
  background-image: url("/images/loop.png");
  background-position:center center;
  background-repeat:no-repeat;
  Width: 16px;
}


#menu a.refresh:hover {

  Width: 16px;
}

#menu a.clear {
  background-image: url("/images/trash.png");
  background-position:center center;
  background-repeat:no-repeat;
  Width: 16px;
}


#menu a.clear:hover {

  Width: 16px;
}


h1 {
    border-color: #EEEEEE;
    border-style: solid;
    border-width: 0 0 1px;
    color: #111111;
    display: block;
    font-size: 40px;
    font-weight: 100;
    line-height: 25px;

    padding: 30px 0px 30px 0px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    
}
h2 {
    color: #EEEEEE;
    display: block;
    font-size: 40px;
    font-weight: 300;
    text-shadow: -2px 2px 0 rgba(0, 0, 0, .5);
}

h2, .box div img {
  padding-bottom: 10px;
}



#nav {
  position: fixed;
  right: 10px;
  z-index: 100;
  width: 50px;
  height: 70%;
  overflow: hidden;
  margin-right: 0px;
}

#nav #dots {
  position: absolute;
  z-index: 200;
  margin-left: 10px;
  width: 40px;
  height: 100%;
  background-color: white;
  
}

#nav #dots ul {
  margin-top: 50px;
  z-index: 200;
}

#nav #dots ul li {
  width: 40px;
  height: 24px;
  background: white;
  text-align: center;
  float: left;
}

#nav #dots ul li a {
  cursor: hand;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0px;
  /*background: url('/images/dots.png') transparent;*/
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -khtml-border-radius:10px;
  
  position:relative; 
  margin-left: 13px;
}

#nav #dots ul  a.cur, #nav #dots ul a.cur:hover {
  border:#ffffff 5px double;
  margin-left: 8px;
}


.navmenu {
position: fixed;
margin: 50px auto;
text-align: left;
width: 100%;
z-index: 30000;
}

.navmenu ul {
text-align: left;
margin: 0 auto;
width: 960px;
list-style: none;
}

.navmenu ul li a {
font-family: Helvetica, Arial, sans-serif;
font-weight: 900;
font-size: 40px;
list-style: none;
color: 
white;
line-height: 35px;
text-decoration: none;
cursor: pointer;
}

details {
  position: absolute;
  top: 0;
  left: 1em;
  margin: 1em 0;
  padding: 10px;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  max-width: 600px;
  font-size: 10pt;
  z-index: 100;
  background: #F7F7F7;
}
details > div {
  margin: 10px 0;
}
details > summary {
  cursor: pointer;
  white-space: nowrap;
}